<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChessWorld-log in or sign up</title>
    <link rel="stylesheet" href="./styles3.css">
</head>
<body>
    <header class = "head"> 
     <h1>ChessWorld</h1>
           <div class="nav-form">
       <h3>Already have an account </h3>
           <form action="/login" method="POST">
          <label for="email">username/email</label>
          <input type="email" class="form-control" name="username" autocomplete="off">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" autocomplete="off">
            <button type="submit" class="btn btn-dark">Log in</button>
        </div>
      </form>
      </div>
    
    </header>
    <form action="/" method="POST">
     <h3>Dont't have an account - Sign up</h3>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" name="mailID" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-dark">Sign up</button>
      </form>
       
    <footer>

    
    </footer>
    <script src = "homepage.js"></script>
</body>
</html>