<%- include('header'); -%>
        <title>Main Page</title>
        <link rel="stylesheet" href="css/style2.css">
    </head>
    <body> 
        <h1 class="title">LOBBY</h1>
        <div class="container">
            <h2 id="starttxt">Click the button to Start</h2>
            <button class="btn btn-secondary btn-sm" id="tapButton"><img id="startbtn" src="https://media.giphy.com/media/l3C9fslCF1mbH58gJW/giphy.gif" alt="Start"></button>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
        <script src="script2.js"></script>
<%- include('footer'); -%>
