<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Paeg</title>
    <link rel="stylesheet" href="style2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body>
    <h1>Tap to Matchmake</h1>
    <%  nrooms = JSON.stringify(nRooms) %>
    <!-- <button><a href="/room<%= nrooms %>">Tap here</a></button> -->
    <button id="tapButton">Tap here</button>
    <script src="script2.js"></script>
</body>
</html>