<%- include('header'); -%>
    <title>Not Found</title>
    <link rel="stylesheet" href="css/nf.css">
</head>
<body>
    <div class="container">
        <h1>Invalid Credentials or User Not Found</h1>
        <a href="/login">Try Again</a>
        <br>
        <img class="nf" src="https://media.giphy.com/media/Qxkf4LQ1xIbXpH8z0I/giphy.gif" alt="404">
    </div>
<%- include('footer'); -%>